extends layout

block content
  h1 #{title}
  if user
    a.btn.btn-primary.pull-right(href='/sentences/add') Add Sentence
  br
  br
  br
  ul.list-group
    each sentence, i in sentences
      li.list-group-item
        h2= sentence.title
        h2= sentence.body
          if user!==null
            if user.id ==sentence.author
            br
            br
            a.btn.btn-default(href='/sentences/edit/'+sentence._id) Edit
            a.btn.btn-danger.delete-sentence(href='#',data-id=sentence._id) Delete